*{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: hidden;
	list-style: none;
}
body{
	background-color: #f6f5fa;
}
.wrapper{
	width: 980px;
	height: 2080px;
	border: 1px solid #d6d6d6;
}
/*logo*/
.wrapper .logo{
	position: absolute;
	width: 400px;
	height: 230px;
	/*border: 1px solid #d6d6d6;*/
	top: 50px;
	left: 50%;
	margin-left: -200px;
}
.wrapper .logo img{
	width: 400px;
	height: auto;
}
/*输入信息块*/
.wrapper .info{
	position: absolute;
	width: 978px;
	height: 414px;
	top: 340px;
	border-top: 1px solid #d6d6d6;
	border-bottom: 1px solid #d6d6d6;
	font-size: 44px;
	background-color: #fff;
}
.wrapper .info .phone{
	float: right;
	width: 940px;
	height: 117px;
	border-bottom: 1px solid #d6d6d6;
	line-height: 117px;
	letter-spacing: 0.5em;
	font-family: simhei;
}
.wrapper .info .phone .phoneNumber{
	width: 628px;
	height: 82px;
	font-size: 44px;
	border: none;
	padding: 15px;
}
.wrapper .info .pic_check{
	float: right;
	width: 940px;
	height: 162px;
	border-bottom: 1px solid #d6d6d6;
	line-height: 162px;
	font-family: simhei;
}
.wrapper .info .pic_check .picCheck{
	width: 380px;
	height: 130px;
	font-size: 44px;
	border: none;
	padding: 15px;
	margin-left: 1em;
}
.wrapper .info .pic_check .code{
	width: 280px;
	height: 154px;
	border: 1px solid #d6d6d6;
	float: right;
	background-image: url('img/yan.jpg');
	background-size: 278px 154px;
}
.wrapper .info .code_check{
	float: right;
	width: 940px;
	height: 130px;
	line-height: 130px;
	letter-spacing: 0.5em;
	font-family: simhei;
}

.wrapper .info .code_check .codeNumber{
	width: 380px;
	height: 100px;
	font-size: 44px;
	border: none;
	padding: 15px;
}
.wrapper .info .code_check .getCode{
	width: 258px;
	height: 130px;
	border: 1px solid #d6d6d6;
	float: right;
}
.wrapper .info .code_check .getCode #verCodeBtn{
	width: 258px;
	height: 130px;
	border: 1px solid #d6d6d6;
	font-size: 36px;
}
/*登录注册按钮模块*/
.button{
	position: absolute;
	height: 400px;
	width: 978px;
	/*border: 1px solid #d6d6d6;*/
	top: 754px;

}
.button button{
	margin-top:58px; 
	height: 116px;
	width: 900px;
	font-size: 44px;
	color: #fff;
	background-color: #19ab18;
	margin-left: 38px;
	border-radius: 15px;
}
/*layer*/
.layui-layer-content{ /*修改弹窗内容样式*/
	font-size: 44px;
	margin-left: 20px;
}
.layui-layer-setwin{
	position: absolute;
	height: 60px;
	width: 60px;
	/*border: 1px solid black;*/
	top: 0;
	margin-top:-20px;
}
a.layui-layer-ico.layui-layer-close.layui-layer-close1{
	height: 60px;
	width: 60px;
	margin: 0;
	background-position: -360px -60px;
	background-repeat: no-repeat;
	background-size: 420px 122px;
}
div.layui-layer-btn.layui-layer-btn-{
	height: 50px;
}
a.layui-layer-btn0, a.layui-layer-btn1{
	font-size: 30px;
	font-weight: lighter;
	height: 50px;
	width: 60px;
}
